<%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/forms.css">
        <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('partials/nav.ejs') %>

        <main>
            <form class="product-form" action="/admin/add-product" method="POST">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                    <label for="published">Publish Date</label>
                    <input type="text" name="published" id="published">
                    <label for="author">Author</label>
                    <input type="text" name="author" id="author">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="4" cols="50"></textarea>
                </div>

                <button class="btn" type="submit">Add Product</button>
            </form>
        </main>
<%- include('partials/footer.ejs') %>